.DS_Store
__pycache__/
*.pyc
.venv/
.venv-x86_64/
.pyinstaller/
*.spec

# Native build output
/target/
/build/
/dist/
/packages/
/platform/macos/.build/
/platform/windows/**/bin/
/platform/windows/**/obj/
